:root {
  --primary-color: #6c63ff;
  --secondary-color: #252525;
  --secondary-light-color: #5f5f5f;
  --background-color: #fff;
  --list-border-color: #6b63ff6c;
  --border-color: #6c63ff;
  --cancel-btn-hover-color: #d2d2d2;
  --layout-background-color: #c2e7ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #f7f7f7;
    --secondary-color: #fff;
    --secondary-light-color: #d3d3d3;
    --background-color: #252525;
    --list-border-color: #6b63ff6c;
    --border-color: #f7f7f7;
    --cancel-btn-hover-color: #323232;
    --layout-background-color: #bebebe72;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background-color);
}

.main-heading {
  color: var(--secondary-color);
  margin: 50px 0 40px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.input-wrapper {
  max-width: 1050px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20fr 1fr 1fr;
  gap: 15px;
  position: relative;
  row-gap: 40px;
}

.theme-btn {
  background: none;
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 7px;
  transition: all 300ms;
  cursor: pointer;
}

.theme-btn svg {
  width: 32px;
  height: 32px;
}

@media (min-width: 700px) {
  .icon-transition:hover {
    background-color: #8a84ff;
  }

  .icon-transition:active svg {
    transform: scale(0.9);
  }
}

.add-todo {
  position: fixed;
  bottom: 50px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #6c63ff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6c63ff;
  transition: all 300ms;
  cursor: pointer;
}

.add-list {
  right: 15%;
}

.add-grid {
  right: 8%;
}

.add-todo svg {
  width: 40px;
  height: 40px;
}

.new-note-btn {
  display: none;
}

main {
  padding: 0 25px 0;
}

.add-p {
  display: none;
}

.grid-add-p {
  display: none;
}

@media (max-width: 1600px) {
  .add-grid {
    right: 3%;
  }
}

@media (max-width: 1400px) {
  .add-list {
    right: 10%;
  }
  .add-grid {
    position: static;
    border-radius: 10px;
    padding: 10px 70px;
    gap: 20px;
    width: 100%;
    width: auto;
    height: auto;
  }

  .grid-btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .grid-add-p {
    display: block;
    font-size: 28px;
  }
}

@media (max-width: 1200px) {
  .add-list {
    right: 5%;
  }
}

@media (max-width: 1000px) {
  .btn-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }

  .add-p {
    display: block;
    font-size: 28px;
  }

  .add-list {
    position: static;
    border-radius: 10px;
    padding: 10px 70px;
    gap: 20px;
    width: 100%;
    width: auto;
    height: auto;
  }
}

@media (max-width: 460px) {
  .input-wrapper {
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    justify-items: center;
  }

  .add-list {
    padding: 10px 30px;
  }

  .add-grid {
    padding: 10px 30px;
  }

  .theme-btn {
    grid-row: 1 / 2;
  }

  main {
    padding: 0 10px 0;
  }
}
