:root {
  --primary-color: #6c63ff;
  --secondary-light-color: #fff;
  --secondary-dark-color: #000;
  --list-border-color: #6b63ff6c;
}

@media (prefers-color-scheme: dark) {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--secondary-light-color);
}

.main-heading {
  margin: 50px 0 40px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.input-wrapper {
  max-width: 750px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 7fr 1fr 1fr;
  gap: 15px;
  position: relative;
}

.theme-btn {
  background: none;
  background-color: var(--primary-color);
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 7px;
}

.theme-btn svg {
  width: 32px;
  height: 32px;
}

.btn-transition {
  border: 1px solid var(--primary-color);
  transition: all 300ms;
  cursor: pointer;
}

.btn-transition:hover,
.btn-transition:active {
  background-color: #fff;
  color: var(--primary-color);
}

.add-todo {
  position: fixed;
  bottom: 50px;
  right: 25%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  /* font-size: 56px; */
  background-color: var(--primary-color);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-todo svg {
  width: 40px;
  height: 40px;
}
