.filter {
  color: #fff;
  background-color: #6c63ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 0 12px;
  border: 1px solid #6c63ff;
  border-radius: 7px;
  width: 130px;
  cursor: pointer;
  transition: all 300ms;
}

@media (min-width: 700px) {
  .filter:hover,
  .filter:active {
    background-color: #8a84ff;
  }
}

@media (max-width: 600px) {
  .filter {
    width: 80px;
  }
}

@media (max-width: 460px) {
  .filter {
    width: 130px;
    grid-row: 1 / 2;
  }
}
