.input {
  background-color: var(--background-color);
  color: var(--secondary-light-color);
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
}

@media (max-width: 460px) {
  .input {
    grid-column: 1 / 9;
    grid-row: 2 / 3;
  }
}
