.wrapper {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--list-border-color);
  margin-bottom: 30px;
}

.ul {
  margin: 50px auto 40px;
  max-width: 500px;
}

.emptyWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.li {
  list-style: none;
  font-size: 22px;
  font-weight: 700;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.li > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.text {
  padding: 0 35px 0 0;
  word-break: break-all;
  max-width: 300px;
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-light-color);
  padding: 0 54px 0 48px;
  word-break: break-word;
}

.date {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-light-color);
  /* padding: 0 54px 0 48px; */
}

.input {
  min-width: 32px;
  height: 32px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #6c63ff;
  border-radius: 4px;
}

.input:checked {
  background-color: #6c63ff;
}

.checkedSvgWrapper {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  cursor: pointer;
  pointer-events: none;
}

.checkedSvg {
  width: 22px;
  translate: 6px 4px;
}

.input:checked + .text {
  color: #777;
  text-decoration: line-through;
}

.svg {
  cursor: pointer;
  stroke: var(--secondary-light-color);
  transition: all 0.3s;
}

@media (min-width: 700px) {
  .svg:hover,
  .svg:active {
    stroke: var(--secondary-color);
  }
}

.textLine {
  text-decoration: line-through;
}

@media (max-width: 460px) {
  .wrapper {
    margin-bottom: 50px;
  }

  .li {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .svgWrapper {
    order: 1;
  }

  .titleWrapper {
    order: 2;
  }

  .checkedSvg {
    width: 22px;
    translate: 6px 18px;
  }

  .description {
    padding: 0 0 0 48px;
  }
}
